@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* General Style */
body {
    height: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0px;
    font-size: 12px
}

h1, h2, h3, h4 {
    text-align: center;
    font-weight: 400;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h1.page_heading {
    color: #4A66D9;
    font-size: 75px;
}

h2.page_heading {
    color: #4A66D9;
}

h2.error {
    color: #cd0d00;
}

h2.loggedin {
    color: #219807;
}

a, a:hover {
    text-decoration: none;
    color: #3F8AEB;
}

a.complete {
    color: #219807;
}

a.delete, a.edit {
    color: black;
}

.prio_0 {
    width: 7px;
    height: 7px;
    background-color: rgb(0, 226, 0);
    border-radius: 5px;
}
.prio_1 {
    width: 7px;
    height: 7px;
    background-color: rgb(204, 132, 0);
    border-radius: 5px;
}
.prio_2 {
    width: 7px;
    height: 7px;
    background-color: red;
    border-radius: 5px;
}
.prio_3 {
    width: 7px;
    height: 7px;
    background-color: black;
    border-radius: 5px;
}

footer {
    height: auto;
    width: 98%;
    padding: 1%;
    margin: auto;
    clear: both;
}

tr.todo, tr.to do {
    color: black !important;
}

tr.done, tr.done a {
    opacity: 0.75;
}

td  {
    padding: 5px;
    font-size: 14px;
    height: 40px;
}

table {
    width: 95%;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

div.sidebar {
    width: 180px;
    background: rgb(240, 240, 240);
    padding: 20px;
    height: 100%;
    border-right: 1px solid #ddd;
    float: left;
}


#features {
    text-align: center;
    clear: both;
    padding-top: 25px;
    padding-bottom: 25px;
}

#feature {
    width: 28%;
    padding: 2%;
    float: left;
    text-align: center;
    height: auto;
    margin-bottom: 40px;
}

#header-inner a:link,
#header-inner a:visited,
#header-inner a:active {
    color: white;
    font-size: 15px;
    margin-top: 5px;
}

div.header {
    background: #3D6AA2;
    width: 100%;
    height: 50px;
    color: white;
    border-bottom: 1px white solid;
}

#header-inner {
}

#header-inner a:hover {
    color: white;
    text-decoration: underline;
}

select.header-dropdown {
    height: 50px;
    width: 220px;
    background: #386194;
    border: none;
    color: white;
    padding: 10px;
    -webkit-appearance: none;
    font-size: 16px;
    float: left;
}

div.header-navigation {
    padding: 10px;
}

div.container {
    max-width: 1000px;
    margin: auto;
}

div.padded-container {
    padding: 2%;
    width: 96%;
    max-width: 1000px;
    margin: auto;
}

div.task-list {
    float: left;
    max-width: 750px;
    width: 100%;
}

li {
    font-size: 12px;
}
div.filters {
    width: 100%;
    max-width: 753px;
    background: rgb(245, 245, 245);
    height: 15px;
    border-bottom: 1px solid #ddd;
    padding: 13px;
    text-align: right;
    font-size: 12px;
}

#new-task {
    width: 100%;
    max-width: 500px; 
    margin: auto; 
    padding: 20px;
    background: white;
    border-radius: 10px;
    }

#footer {
    text-align: center;
}


input.text {
    width: 100%;
    padding: 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    -webkit-appearance: none;
}

textarea.note {
    width: 100%;
    padding: 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    min-height: 100px;
    font-family: inherit;
    -webkit-appearance: none;
}

select.select {
    border: 1px solid #ccc;
    background: none;
    border-radius: 5px;
    padding: 3px;
    -webkit-appearance: none;
}

input.select {
    border: 1px solid #ccc;
    background: none;
    border-radius: 5px;
    padding: 3px;
    font-family: inherit;
    width: 136px;
    -webkit-appearance: none;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

img.landing-image {
    text-align: center;
    margin-top: 30px;
    box-shadow: 0px 0px 40px gray;
    border-radius: 5px;
    max-width: 500px;
    width: 90%;
    margin: auto 5%;
}

div#landing-banner {
    background: #3D6AA2;
    height: auto;
    width: 100%;
    color: white; 
    text-align: center;
}

input.sign-in {
    padding: 11px;
    border: none;
    border-radius: 5px;
    background: #27ae60;
    cursor: pointer;
    color: white;
    -webkit-appearance: none;
}

input.sign-in:hover {
    padding: 11px;
    border: none;
    border-radius: 5px; 
    background: #1B9750; 
    cursor: pointer; 
    color: white;
    -webkit-appearance: none;
}

    a.javaless-nav {
    display: none;
}

/* Desktop */
@media screen and (min-width: 771px) {


}


/* */
@media screen and (max-width: 1000px) {
    div.sidebar {
        width: 19.75%;
        padding: 1%;
        padding-top: 20px;
    }
    div.task-list {
        width: 78%;
    }
    div.filters {
        width: 95%;
        padding: 2.5%;
    }
    table {
        width: 94%;
        margin: 3%;
    }

}


/* Mobile */
@media screen and (max-width: 600px) {

    #feature {
        width: 96%;
    }

    div.sidebar {
        width: 100%;
        text-align: center;
        border: 0px;
        padding: 0px;
        padding-top: 20px;
	display: none;
    }
    div.task-list {
	width: 100%;
}
    select.header-dropdown {
	width: 50%;
}
    a.javascript-nav {
    display: none;
}
    a.javaless-nav {
    display: inline;
}
}


/* Mobile
@media screen and (max-width: 1360px) {

    div.container {
    max-width: 100%;
    }

}
*/
