@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300italic,300,200italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,200);

/* General Style */
body {
    height: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0px;
    font-size: 12px
}

h2 {
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-align: center;
}

h3 {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
}

h4 {
    font-size: 20px;
    text-align: center;
}

a, a:hover {
    text-decoration: none;
    color: #3F8AEB;
}

a.edit {
    color: black;
}

.delete {
    float: right;
    margin-top: -26px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

footer {
    height: auto;
    width: 96%;
    padding: 2%;
    margin: auto;
    clear: both;
}

div.note{
    font-size: 13px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
}

div.title{
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
}

div.date{
    font-size: 12px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    display: table-cell;
    vertical-align: middle;
    float: right;
    margin-right: 15%;
    margin-top: -27px;
}

div.todo, div.to do {
    color: black !important;
}

div.done, div.done a {
    opacity: 0.65;
}

div#single-task{
    height: auto;
    width: 100%;
    border-bottom: 1px solid #eee;
    height: auto;
    width: 98%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2%;
}
div.task-body{
    height: 40px;
    vertical-align: middle;
    display: table-cell;
}

div.sidebar {
    width: 19%;
    background: rgb(245, 245, 245);
    padding: 1.5%;
    height: 100%;
    float: left;
    font-family: 'Source sans pro', sans-serif;
    font-size: 18px;
}

div#mobile-menu {
    display: none;
    text-align: center;
    padding-top: 80px;
}

    .menu-button {
        display: none;
    }
    
div.extended-menu {
    display: none;
}

.clear {
    clear: both;
}

#features {
    text-align: center;
    clear: both;
    padding-top: 25px;
    padding-bottom: 25px;
}

#feature {
    width: 28%;
    padding: 2%;
    float: left;
    text-align: center;
    height: auto;
}

div.header {
    width: 100%;
    height: 50px;
    color: white;
    background: url('../img/logobg.png');
    background-position: center;
}

.logo {
    float: left;
    margin-top: -5px;
}

#header-inner a:link,
#header-inner a:visited,
#header-inner a:active {
    color: white;
    font-size: 15px;
    margin-top: 5px;
}

#header-inner a:hover {
    color: white;
    text-decoration: underline;
}

select.header-dropdown {
    height: 50px;
    width: auto;
    background: #5179CA;
    border: none;
    color: white;
    padding: 10px;
    -webkit-appearance: none;
    font-size: 20px;
    float: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

div.header-navigation {
    padding: 5px;
    float: right;
}

div.container {
    max-width: 1024px;
    margin: auto;
}

div.padded-container {
    padding: 2%;
    width: 96%;
    max-width: 1024px;
    margin: auto;
}

div.main {
    background: rgb(245, 245, 245);
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

div.task-list {
    float: left;
    width: 77.8%;
    background: white;
    min-height: 500px;
    border-left: 1px solid #ddd;
}

.priority {
    color: #aaa;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    width: 25px;
    height: 25px;
}

div.filters {
    width: 96%;
    background: rgb(245, 245, 245);
    height: 15px;
    border-bottom: 1px solid #ddd;
    padding: 2%;
    font-family: 'Source sans pro', sans-serif;
    text-align: left;
    font-size: 18px;
}

#new-task {
    width: 90%;
    max-width: 500px;
    min-width: 400px;
    margin: auto; 
    padding: 5%;
    background: white;
    border-radius: 10px;
}

#footer {
    text-align: center;
}


input.text {
    width: 98%;
    padding: 1%;
    border: 1px solid #ccc; 
    border-radius: 5px;
    -webkit-appearance: none;
}

textarea.note {
    width: 98%;
    padding: 1%; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    min-height: 100px;
    font-family: inherit;
    -webkit-appearance: none;
}

select.select {
    border: 1px solid #ccc;
    background: none;
    border-radius: 5px;
    padding: 3px;
    -webkit-appearance: none;
}

input.select {
    border: 1px solid #ccc;
    background: none;
    border-radius: 5px;
    padding: 3px;
    font-family: inherit;
    width: 136px;
    -webkit-appearance: none;
}

.submit {
    background-color: hsl(208, 79%, 43%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#56a5eb", endColorstr="#1773c4");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#56a5eb), to(#1773c4));
    background-image: -moz-linear-gradient(top, #56a5eb, #1773c4);
    background-image: -ms-linear-gradient(top, #56a5eb, #1773c4);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #56a5eb), color-stop(100%, #1773c4));
    background-image: -webkit-linear-gradient(top, #56a5eb, #1773c4);
    background-image: -o-linear-gradient(top, #56a5eb, #1773c4);
    background-image: linear-gradient(#56a5eb, #1773c4);
    border-color: #1773c4 #1773c4 hsl(208, 79%, 38%);
    color: white !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
    -webkit-font-smoothing: antialiased;
    border: 1px solid #0070FF;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 5px;
    border-radius: 5px;
    -webkit-appearance: none;
    float: right;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

img.landing-image {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 40px rgb(197, 197, 197);
    border-radius: 5px;
    max-width: 600px;
    width: 90%;
    margin: auto 5%;
}

div#landing-banner {
    background: #3D6AA2;
    height: auto;
    width: 100%;
    color: white; 
    text-align: center;
}

input.sign-in {
    padding: 11px;
    border: none;
    border-radius: 5px;
    background: #27ae60;
    cursor: pointer;
    color: white;
    -webkit-appearance: none;
}

input.sign-in:hover {
    padding: 11px;
    border: none;
    border-radius: 5px; 
    background: #1B9750; 
    cursor: pointer; 
    color: white;
    -webkit-appearance: none;
}

a.javaless-nav {
    display: none;
}

#fadeinfast {
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}
#fadeinslow {
    animation: fadein 2s;
    animation-delay: 5s;
    -webkit-animation-delay: 5s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}​


/* Tablet style */

@media screen and (max-width: 1024px) {
    div.sidebar {
        width: 19.75%;
        padding: 1%;
        padding-top: 20px;
    }
    div.task-list {
        width: 78%;
    }
    div.filters {
        width: 95%;
        padding: 2.5%;
    }
    #header-inner {
        padding-right: 20px;
    }

}



/* Mobile style */

@media screen and (max-width: 750px) {

    #feature {
        width: 96%;
    }

    div.sidebar {
	    display: none;
    }

    .menu-button {
        display: block;
        float: right;
        width: 36px;
    }

    div.task-list {
	    width: 100%;
        margin-top: 60px;
        padding-top: 10px;
        border: none;
    }

    select.header-dropdown {
        padding: 15px;
        height: 60px;
        max-width: 250px;
    }

    a.javascript-nav {
        display: none;
    }

    a.javaless-nav {
        display: inline;
    }

    div.header{
        position: fixed;
        height: 60px;
    }

    div.header-navigation{
        padding-top: 15px;
        padding-right: 0px;
    }

    div.filters{
        display: none;
    }

    div.title{
        font-size: 14px;
    }

    div.note{
        font-size: 14px;
    }

    #header-inner {
    padding-right: 20px;
    }
    
    .logo {
    height: 60px;
    }

    #new-task{
    padding-top: 60px;
    min-width: 0px;
    }

}

@media screen and (max-width: 480px) {
    select.header-dropdown {
        max-width: 58%;
        padding: 5px;
    }    
    .logo {
        display: none;
    }

    a.javaless-nav {
        display: none;
    }

    div.extended-menu {
        display: block;
    }
}
