@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500);

/* General Style */
body {
	height: auto;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
}

#body_wrap {
	width: 95%;
	height: auto;
	padding: 2%;
    max-width: 1000px;
    margin: auto;
}

h1, h2, h3, h4 {
	text-align: center;
	font-weight: 400;
}

h1.page_heading {
	color: #4A66D9;
	font-size: 75px;
}

h2.page_heading {
	color: #4A66D9;
}

h2.error {
	color: #cd0d00;
}

h2.loggedin {
	color: #219807;
}

a, a:hover {
	text-decoration: none;
	color: #3F8AEB;
}

a.complete {
	color: #219807;
}

a.delete, a.edit {
	color: black;
}

textarea.message {
	width: 400px;
	height: 100px;
}

footer {
	height: auto;
	width: 98%;
	padding: 1%;
	margin: auto;
    clear: both;
}

td 	{
	padding: 9px;
    font-size: 14px;
}

table {
    width: 100%;
    max-width: 800px;
    float: right;
}

div.list-menu {
    width: 170px;
    background: lightgray;
    padding: 10px;
}